<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles.css">
    <h1 class="nav h1">Workout app
        <div class="flex-container">
            <div><a href="/signup" class="nav_buttons">Sign up</a></div>
            <div><a href="/login" class="nav_buttons">Log in</a></div>
        </div>
    </h1>
</head>