<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Login Form Tutorial</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,700&display=swap");
      body {
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        background: rgb(32, 125, 179);
        background-image: url();
      }
      .login-form {
        width: 300px;
        padding: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #00000075;
        text-align: center;
        text-transform: uppercase;
        border-radius: 10px;
      }
      .login-form h1 {
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
      }
      .login-form input[type="text"],
      .login-form input[type="password"] {
        width: 55%;
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid#e5ff00;
        padding: 14px 10px;
        outline: none;
        color: white;
        border-radius: 30px;
        transition: 0.25s;
      }
      .login-form input[type="text"]:focus,
      .login-form input[type="password"]:focus {
        width: 75%;
        border-color: #eaee10;
      }
      .login-form input[type="submit"] {
        width: 100px;
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid#2ecc71;
        padding: 14px 10px;
        outline: none;
        color: white;
        border-radius: 30px;
        transition: 0.25s;
        cursor: pointer;
        text-transform: uppercase;
      }
      .login-form input[type="submit"]:hover {
        background: #2ecc71;
      }
    </style>
  </head>
  <body>
    <div class="login-form">
      <h1>Login Form</h1>
      <form action="login" method="POST">
        <input type="text" name="email" placeholder="Email" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <input type="submit" value="Login" />
        <% if (locals.message) { %><%=message%> <% } %>
      </form>
    </div>
  </body>
</html>
