<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="base-styles.css">
    <link rel="stylesheet" href="footer-style.css">
    <title>Start page</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('../partials/nav.ejs') %>
      <div class="content"></div>
      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
</html>
