@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #34495e;
  background-image: url();
  display: flex;
  flex-direction: column;
  color:white;
}
body h1 {
  margin: 0;
  text-transform: uppercase;
  height: 100px;
  padding: 15px 25px;
  color: white;
  position: relative;
  background-color: rgba(0, 0, 0, 0.35);
  letter-spacing: 4px;
}
body h1 a {
  margin: 0;
  text-transform: uppercase;
  height: 100px;
  padding: 15px 25px;
  color: white;
  position: relative;
  letter-spacing: 2px;
}
body h2 {
  margin: 0;
  text-transform: uppercase;
  padding: 15px 25px;
  color: white;
  position: relative;
  letter-spacing: 2px;
}

.normal_text {
  text-align: left;
  color: white;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}
.friend-list{
  color:white;
  
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  flex-flow: wrap;
  text-transform: uppercase;
  color: white;
  padding-top: 20px;
} 

nav {
  height: fit-content;
}
.nav_button {
    text-decoration: none;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 20px;
  }
  
  .nav-box {
    text-transform: uppercase;
    padding: 20px;
    color: white;
    position: relative;
  }
  .nav_button:hover {
    background-color: rgba(0, 0, 0, 0.55);
  }

  input {
    font-family:"Poppins", sans-serif;
    font-weight: bold;
  }

  input.normal {
    height:20px;
  }