@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}
.container {
  padding: 50px;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: left;
  align-items: left;
  background-color: white;
}
.calendar {
  width: 45rem;
  height: 52rem;
  background-color: #222227;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.month {
  width: 100%;
  height: 12rem;
  background-color: #167e56;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.month i {
  font-size: 2.5rem;
  cursor: pointer;
  color: white;
}
.month h2 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}
.month p {
  font-size: 1.6rem;
  font-weight: bold;
}
.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}
.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
  font-weight: bold;
}
.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.4s;
}
.days div:hover:not(.today) {
  background-color: #167e563a;
  border: 0.2rem solid #167e56;
  cursor: pointer;
  border-radius: 5px;
}
.prev-date,
.next-date {
  opacity: 0.5;
}
.today {
  background-color: #167e56;
  border-radius: 5px;
}
body h1 {
  margin: 0;
  text-transform: uppercase;
  height: 110px;
  padding: 15px 25px;
  color: white;
  background-color: rgba(0, 0, 0, 0.35);
  letter-spacing: 2px;
  position: relative;
  font-size: 32px;
}
.btn-logout {
  text-decoration: none;
  color: white;
  font-size: 24px;
  position: absolute;
  left: 200px;
  top: 60px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  letter-spacing: 1px;
}
.btn-logout:hover {
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 5px;
  transition: background-color 0.5s;
}
.social-box {
  width: 400px;
  left: 800px;
  top: 170px;
  position: absolute;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.social-box p {
  width: 100%;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  font-size: 32px;
  padding: 10px 15px;
}
.social-box ul {
  width: 400px;
  color: white;
  list-style: none;
  font-size: 18px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 15px;
}

.social-box ul li {
  padding: 10px;
}

.social-box ul li:hover {
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  border-radius: 10px;
  color: black;
  transition: background-color 0.2s;
}
