.list-header {
    height: fit-content;
    text-align: center;
    background-color: darkolivegreen;
    font-size: x-large;
}
.container {
    color: white;
    background:darkslategray;
    padding: 10px;
    display: flex;
    height: auto;
    flex: 1;
}
.client-list {
    height: 100%;
    flex: 0 0 49%;
    border-style: double;
    border-width: thin;
    border-color: lightslategray;
    display: flex;
    flex-direction: column;
}
.client-list p {
    padding-left: 20px;
}
.info-list {
    height: 100%;
    flex: 1;
    border-style: double;
    border-width: thin;
    border-color: lightslategray;
    display: flex;
    flex-direction: column;
}
.info-list p {
    padding-left: 20px;
}
.separator {
    flex: 0 0 2%;
}