.content {
  width: 100%;
}

.sub_container {
  color: white;
  vertical-align: top;
  width: 90%;
  padding: 10px;
  height: 550px;
  background: #00000075;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
  overflow-y: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.exercise_list {
  width: 200px;
  list-style-type: none;
  padding: 0px;
  margin-top: 20px;
  font-weight: bold;
}

.exercise_list_item {
  border: none;
  width: 100%;
  padding: 10px;
  margin: 2px;
  cursor: pointer;
}
.exercise_list_item:hover {
  /*added this*/
  color: black;
  background: #ede574;
  border-radius: 10px;
}

.exercise_name {
  width: 300px;
  margin-left: 20px;
  float: left;
  vertical-align: middle;
  height: 100%;
}

.small_input {
  width: 50px;
  float: left;
}

.small_input_header {
  width: 70px;
  height: 100%;
  text-align: right;
  font-size: small;
  vertical-align: bottom;
  border: 0px solid white;
  float: left;
  margin-right: 3px;
}

.icon {
  width: 25px;
  height: 25px;
  border: 0px solid red;
  padding: 0px;
  margin: 0px;
}

.icon_container {
  vertical-align: bottom;
  border: 0px solid blue;
  height: 100%;
}

.workout_list_table {
  border: 0px solid green;
}

.input_container {
  border: 0px solid green;
}

#right,
#left {
  float: left;
  width: 50%;
  text-align: center;
  vertical-align: top;
}

.exercise {
  border: 1px solid white;
  margin: 2px;
  width: 99%;
  display: flex;
  padding: 5px;
}

p {
  padding: 5px;
  margin: 0px;
}

.exercise_form_label {
  vertical-align: right;
  font-weight: bold;
}
/* added styles */
#filter_input,
#exercise-container input,
#exercise-container textarea {
  width: 25%;
  border: 0;
  background: none;
  display: block;
  margin: 5px auto;
  margin-top: 10px;
  text-align: center;
  border: 2px solid#e5ff00;
  padding: 10px 10px;
  outline: none;
  color: white;
  border-radius: 30px;
  transition: 0.25s;
}
#filter_input {
  height: 40px;
}
#filter_input:focus,
#exercise-container input:focus {
  width: 30%;
  border-color: #eaee10;
}

#exercise-container textarea {
  width: 50%;
  font-size: 16px;
  border-color: #eaee10;
  height: 150px;
}
#exercise-container input[type="submit"] {
  width: 100px;
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid#2ecc71;
  padding: 10px 10px;
  outline: none;
  color: white;
  border-radius: 30px;
  transition: 0.25s;
  cursor: pointer;
  text-transform: uppercase;
}
#exercise-container input[type="submit"]:hover {
  background: #2ecc71;
}
#exercise-container input[value="delete" i] {
  border: 2px solid#f25f5c;
}
#exercise-container input[value="delete" i]:hover {
  background: #f25f5c;
}
