.content {
  width: 100%;
}

.workout-form {
  color: white;
  vertical-align: top;
  width: 90%;
  padding: 10px;
  height: 550px;
  background: #00000075;
  text-transform: uppercase;
  border-radius: 10px;
  border: 1px solid #e5ff00;
  overflow-y: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.workout_exercise_list {
  width: 100%;
  list-style-type: none;
  padding: 10px 0 0;
  margin-top: 20px;
}

.workout_exercise {
  width: 100%;
  padding: 2px;
  margin: 2px;
}

.exercise_name {
  width: 300px;
  margin-left: 20px;
  float: left;
  vertical-align: middle;
  height: 100%;
}

.small_input {
  width: 50px;
  float: left;
}

.small_input_header {
  width: 70px;
  height: 100%;
  text-align: right;
  font-size: small;
  vertical-align: bottom;
  border: 0px solid white;
  float: left;
  margin-right: 3px;
}

.icon {
  width: 25px;
  height: 25px;
  border: 0px solid red;
  padding: 0px;
  margin: 0px;
}

.icon_container {
  vertical-align: bottom;
  border: 0px solid blue;
  height: 100%;
}

.workout_list_table {
  border: 0px solid green;
}

.input_container {
  border: 0px solid green;
}

#right,
#left {
  float: left;
  width: 50%;
  text-align: center;
  vertical-align: top;
}
/* added this */
.exercise {
  border: none;
  font-weight: bold;
  margin: 2px;
  width: 90%;
  display: block; /* added this */
  float: left; /* added this */
  padding: 10px; /* added this */
  cursor: pointer; /* added this */
}
.exercise:hover {
  /* added this */
  color: black;
  background: #ede574;
  border-radius: 10px;
}
p {
  padding: 5px;
  margin: 0px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20 black;
  color: black;
  font-weight: bold; /* added this */
  text-align: center;
  padding: 10px 10px;
  border-radius: 6px;
  border: none;
  bottom: 100%;
  right: 0;
  position: absolute;
  z-index: 1;
  width: 50%;
}
.exercise:hover .normal_text {
  /* added this */
  color: black;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* added styles */
#filter_input,
#workout-container input {
  width: 25%;
  border: 0;
  background: none;
  display: block;
  margin: 5px auto;
  text-align: center;
  border: 2px solid#e5ff00;
  padding: 10px 10px;
  outline: none;
  color: white;
  border-radius: 30px;
  transition: 0.25s;
  margin-top: 10px;
}
#filter_input:focus,
#workout-container input:focus {
  width: 30%;
  border-color: #eaee10;
}
#workout-container label {
  font-weight: bold;
  margin: 20px 10px;
  font-size: 18px;
}
#workout-container {
  height: 100%;
}
#workout-container input[type="submit"] {
  width: 100px;
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid#2ecc71;
  padding: 10px 10px;
  outline: none;
  color: white;
  border-radius: 30px;
  transition: 0.25s;
  cursor: pointer;
  text-transform: uppercase;
}
#workout-container input[type="submit"]:hover {
  background: #2ecc71;
}
#workout-container input[value="Delete"] {
  border: 2px solid#f25f5c;
}
#workout-container input[value="Delete"]:hover {
  background: #f25f5c;
}
