footer {
  clear: both;
  position: absolute;
  bottom: 0;
  text-align: center;
  height: 100px;
  width: 100%;
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.35);
}
.footer_text {
    padding-top: 40px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: medium;
}