@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #34495e;
  background-image: url();
}
body h1 {
  margin: 0;
  text-transform: uppercase;
  height: 100px;
  padding: 15px 25px;
  color: white;
  position: relative;
  background-color: rgba(0, 0, 0, 0.35);
  letter-spacing: 4px;
}
body h1 a {
  margin: 0;
  text-transform: uppercase;
  height: 100px;
  padding: 15px 25px;
  color: white;
  position: relative;
  letter-spacing: 2px;
}
body h2 {
  margin: 0;
  text-transform: uppercase;
  padding: 15px 25px;
  color: white;
  position: relative;
  letter-spacing: 2px;
}

.nav_button {
  position: relative;
  text-decoration: none;
  font-size: 22px;
  color: white;
  left: 200px;
  text-transform: uppercase;
  padding: 10px;
  transition: 0.5s;
  border-radius: 20px;
}

.nav h1 {
  text-transform: uppercase;
  padding: 20px;
  color: white;
  position: relative;
}
.nav_button:hover {
  background-color: rgba(0, 0, 0, 0.55);
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  flex-flow: wrap;
  text-transform: uppercase;
  color: white;
}
.login-form {
  width: 300px;
  padding: 40px;
  position: relative;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #00000075;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
}
.login-form h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-weight: bold;
}

.login-form p {
  color: white;
  text-transform: none;
  font-weight: bold;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 55%;
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid#e5ff00;
  padding: 14px 10px;
  outline: none;
  color: white;
  border-radius: 30px;
  transition: 0.25s;
}
.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  width: 75%;
  border-color: #eaee10;
}
.login-form input[type="submit"] {
  width: 100px;
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid#2ecc71;
  padding: 14px 10px;
  outline: none;
  color: white;
  border-radius: 30px;
  transition: 0.25s;
  cursor: pointer;
  text-transform: uppercase;
}
.login-form input[type="submit"]:hover {
  background: #2ecc71;
}
