.content {
    width:100%;
}

.sub_content {
    color:white;
    vertical-align: top;
    width: 90%;
    padding: 10px;
    height: 550px;
    background: #00000075;
    text-transform: uppercase;
    border-radius: 10px;
    border: 1px solid #e5ff00;
    overflow-y:auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    float:left;
  }

  .trainer_homepage_list {
    width:100%;
    list-style-type: none;
    padding:0px;
    margin-top: 20px;
    border: 0px solid white;
  }

  .workout_exercise {
    border: 1px solid white;
    width:100%;
    padding:2px;
    margin: 2px;
  }

  .exercise_name {
    width: 300px;
    margin-left: 20px;
    float:left;
    vertical-align: middle;
    height: 100%;
  }

  .small_input {
    width:50px;
    float:left;
  }

  .small_input_header {
    width:70px;
    height:100%;
    text-align: right;
    font-size: small;
    vertical-align: bottom;
    border: 0px solid white;
    float:left;
    margin-right: 3px;
  }

  .icon {
    width:25px;
    height:25px;
    border: 0px solid red;
    padding:0px;
    margin:0px;
  }

  .icon_container {
    vertical-align: bottom;
    border:0px solid blue;
    height:100%;
  }

  
  #left, #middle, #right {
    float: left; 
    text-align: center;
    vertical-align: top;
  }

  #left {width: 45%; border:0px solid green;}
  #middle {width: 25%; border:0px solid green;}
  #right {width: 25%; border:0px solid green;}

  

  .list_item {
    border:1px solid white;
    margin: 2px;
    width:95%;
    display:flex;
    padding:5px;
  }

  p {
    padding:5px;
    margin:0px;
  }

.text-box {
    text-align: left;      
}